@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --primary: #323232;
  --secondary: #646464;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f3;
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--primary);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

header {
  padding: 0.75em 0;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  margin-top: 1em;
}

hr {
  border: 2px solid rgb(163, 199, 231);
}

.container {
  width: 98vw;

  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: none;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-full-primary {
  background-color: var(--secondary);
  border: 0.11em solid var(--primary);
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.btn-outline-primary {
  border: 0.11em solid var(--primary);
  color: var(--primary);
  padding: 10px 16px;
  border-radius: 8px;
  transition: background-color 0.2s;
}
.btn-full-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--primary);
  color: #fff;
}

.card {
  border-radius: 15px;
  padding: 1.5em;
  border: 0.12em solid var(--secondary);
}

.card img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid var(--secondary);
  align-self: stretch;
}

.section-portfolio-header {
  padding: 0.1em 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--secondary);
  color: white;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  border-bottom: 0.12em solid var(--secondary);
}

.projects-list > div {
  padding: 2em;
}

.projects-list > div:not(:first-child) {
  border-left: 0.06em solid var(--secondary);
}
.projects-list > div:not(:last-child) {
  border-right: 0.06em solid var(--secondary);
}

@media only screen and (min-width: 768px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
